<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marksmen</title>
</head>
<body>
    <nav>
        <a href="/marksmen/new">Add a New Marksman</a>
    </nav>
    <h1>Marksmen Index</h1>
    <% for (let i=0; i<Marksman.length; i++) { %>
        <a href="<%=Marksman[i].id;%>">
            <p><%=Marksman[i].name;%> <%=Marksman[i].title;%></p>
        </a>
    <% } %>
</body>
</html>