<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>New Marksman</title>
</head>
<body>
    <div class=".container">
    <nav>
        <a href="/marksmen">Back to Marksmen</a>
    </nav>
    <h1>New Marksman Page</h1>
    <form action="/marksmen" method="POST">
        <input class="form-control" type="text" placeholder="Name" name="name"><br>
        <input class="form-control" type="text" placeholder="Title" name="title"><br>
        <input class="form-control" type="text" placeholder="Picture" name="picture"><br>
        <input class="form-control" type="text" placeholder="Passive Name" name="passive.name"><br>
        <input class="form-control" type="text" placeholder="Passive Description" name="passive.description"><br>
        <input class="form-control" type="text" placeholder="Ability 1 Name" name="abilityQ.name"><br>
        <input class="form-control" type="text" placeholder="Ability 1 Description" name="abilityQ.description"><br>
        <input class="form-control" type="text" placeholder="Ability 2 Name" name="abilityW.name"><br>
        <input class="form-control" type="text" placeholder="Ability 2 Description" name="abilityW.description"><br>
        <input class="form-control" type="text" placeholder="Ability 3 Name" name="abilityE.name"><br>
        <input class="form-control" type="text" placeholder="Ability 3 Description" name="abilityE.description"><br>
        <input class="form-control" type="text" placeholder="Ultimate Ability Name" name="ultimate.name"><br>
        <input class="form-control" type="text" placeholder="Ultimate Ability Description" name="ultimate.description"><br>
        <input class="form-control" type="number" placeholder="Health at Level 1" name="stats.health1"><br>
        <input class="form-control" type="number" placeholder="Health at Level 18" name="stats.health18"><br>
        <input class="form-control" type="number" placeholder="Attack at Level 1" name="stats.attack1"><br>
        <input class="form-control" type="number" placeholder="Attack at Level 18" name="stats.attack18"><br>
        <input class="form-control" type="number" placeholder="Attack Range" name="stats.range"><br>
        <input class="form-control" type="number" placeholder="Movement Speed" name="stats.speed"><br>
        <input class="btn btn-success" type="submit" value="Add Marksman">
    </form>
</div>
</body>
</html>